---
import { getCollection } from 'astro:content';
import PostLayout from '../../layouts/PostLayout.astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await post.render();

// Logic to find all chapters of the current post
const allPosts = await getCollection('blog');
const postSlug = post.slug.split('/')[0];
const chapters = allPosts
  .filter((p) => p.slug.startsWith(postSlug))
  .sort((a, b) => (a.data.chapter || 0) - (b.data.chapter || 0));
---

<PostLayout chapters={chapters} currentPage={post} collection="blog">
  <h1>{post.data.title}</h1>
  <Content />
</PostLayout>
