---
import { getCollection } from 'astro:content';
import PostLayout from '../../layouts/PostLayout.astro';
import { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await post.render();

// Logic to find all chapters of the current post
const allPosts = await getCollection('blog');
const postSlug = post.slug.split('/')[0]; 
const chapters = allPosts
  .filter((p) => p.slug.startsWith(postSlug))
  .sort((a, b) => a.data.chapter - b.data.chapter);
---

<PostLayout chapters={chapters} currentPage={post}>
  <div class="prose max-w-none">
    <h1>{post.data.title}</h1>
    <Content />
  </div>
</PostLayout>