---
import Layout from "../layouts/Layout.astro";
import { Content } from "../content/docs/guangzong.md";
---

<Layout>
    <main class="container mx-auto p-4">
        <div class="prose dark:prose-invert max-w-none">
            <Content />
        </div>
    </main>
</Layout>
