---
import { CollectionEntry } from "astro:content";

type AnyCollectionEntry = CollectionEntry<"blog" | "riemannian-geometry" | "codeforces">;

interface Props {
    chapters: AnyCollectionEntry[];
    currentPage: AnyCollectionEntry;
    collection: "blog" | "riemannian-geometry" | "codeforces";
}

const { chapters, currentPage, collection } = Astro.props;
const postTitle = currentPage.slug
    .split("/")[0]
    .replace(/^chapter\d+-/, "")
    .replace(/-/g, " ");

const formatChapterTitle = (slug: string) => {
    const title = slug.split("/").pop() || "";
    const formattedTitle = title.replace(/^\d+-/, "").replace(/-/g, " ");
    if (formattedTitle.length > 0) {
        return formattedTitle.charAt(0).toUpperCase() + formattedTitle.slice(1);
    }
    return formattedTitle;
};
---

<nav
    class="bg-gray-50 dark:bg-gray-800 p-4 rounded-lg border border-gray-200 dark:border-gray-700 transition-colors duration-300"
>
    <h2 class="text-lg font-bold mb-1 capitalize text-gray-800 dark:text-gray-200">{postTitle}</h2>
    <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">Table of Contents</p>
    <ul class="space-y-2">
        {
            chapters.map((chapter) => {
                const isActive = chapter.slug === currentPage.slug;
                const slug = chapter.slug.replace(/(\/)?_index$/, "") || chapter.slug;
                return (
                    <li>
                        <a
                            href={`/${collection}/${slug}`}
                            class:list={[
                                "block p-2 rounded-md text-sm transition-colors",
                                isActive
                                    ? "bg-blue-100 dark:bg-blue-900 text-blue-700 dark:text-blue-100 font-bold"
                                    : "text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white",
                            ]}
                        >
                            {chapter.data.title || formatChapterTitle(chapter.slug)}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>
